#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CARGO_HOME = $(CURDIR)/debian/cargo

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/blockhost-broker debian/blockhost-broker/usr/bin/blockhost-broker
	install -D -m 644 debian/blockhost-broker.service debian/blockhost-broker/lib/systemd/system/blockhost-broker.service
	install -D -m 644 debian/config.toml.example debian/blockhost-broker/etc/blockhost-broker/config.toml.example
	install -d -m 750 debian/blockhost-broker/var/lib/blockhost-broker
	install -d -m 750 debian/blockhost-broker/etc/blockhost-broker

override_dh_auto_test:
	# Skip tests during package build
	true

override_dh_auto_clean:
	cargo clean || true
	rm -rf $(CARGO_HOME)
